<p id="notice"><%= notice %></p>


<div class="tophead">
	<h1><%= @team.name %></h1>
	<p><%= @team.description %></p>
  <% if @team.is_creator?(current_user) %>
    <p>Give this secret link to people you want to invite to <%= @team.name %>.<br /><%= link_to invite_url(:id => @team.invite_token), invite_url(:id => @team.invite_token) %></p>
  <% end %>
</div>
<div id="teampage" class="bigpad">
<div class="span-4 fright">
<h3>Members </h3>
<ul class="team-members">
<% @members.each do |member| %>
	<li><%= link_to image_tag(avatar_url(member, 50)), user_path(member) %></li>
<% end %>
</ul>
</div>
<div class="span-11 fleft">

<h3>Team activities:</h3>

<%= render :partial => "posts/list", :locals => {:posts_by_days => @posts_by_days}%>
</div>