<p id="notice"><%= notice %></p>


<div class="tophead">
	<h1><%= @team.name%></h1>
	<p><%= @team.description %></p>
</div>
<div id="teampage" class="bigpad">
<div class="span-4 fright">
<h3>Members </h3>
<ul class="team-members">
<% @users.each do |user| %>
	<li><%= image_tag avatar_url(user, 50) %></li>
<% end %>
</ul>
</div>
<div class="span-11 fleft">
<h3>Activities </h3>
<ul class="team-activities">
<% @activities.each do |activity| %>
	<li><%= activity.user.name %> <%= activity.content %></li>
<% end %>
</ul>
</div>
</div>
