<p id="notice"><%= notice %></p>


<div class="tophead">
	<h1><%= @team.name%></h1>
	<p><%= @team.description %></p>
</div>
<div id="teampage" class="bigpad">
<div class="span-4 fright">
<h3>Members </h3>
<ul class="team-members">
<% @users.each do |user| %>
	<li><%= image_tag avatar_url(user, 50) %></li>
<% end %>
</ul>

<h3>Team activities:</h3>

<%= render :partial => "posts/list", :locals => {:posts_by_days => @posts_by_days}%>