<p id="notice"><%= notice %></p>

<div>
	<h1><%= @team.name%></h1>
	<p><%= @team.description %></p>
</div>

<ul>
<% @activities.each do |activity| %>
	<li><%= activity.user.name %> done <%= activity.content %></li>
<% end %>
</ul>