<p id="notice"><%= notice %></p>


<div class="tophead">
  <h1>You've been invited to join <%= @team.name %> in using Donely.</h1>
  <p><%= @team.description %></p>
</div>
<div id="teampage" class="bigpad">
<div class="span-4 fright">
<%= link_to "Join now", new_user_registration_path, :class=>"leo-btn orange" %>
<h3>Members </h3>
<ul class="team-members">
<% @members.each do |member| %>
  <li><%= link_to image_tag(avatar_url(member, 50)), user_path(member) %></li>
<% end %>
</ul>
</div>
<div class="span-11 fleft">
<ul>
	<li>Keep a record of what you have done.</li>
	<li>See yesterday's accomplishments to motivate you today.</li>
	<li>Know what your team has gotten done, at any time. <br />Progress is addictive!</li>
</ul>
<p>Wanna join <%= @team.name %> in getting a daily rush of getting things done?</p>
</div>