<div id="userprofile">
	<div id="profiletop">
		<div class="span-5-2 fleft">
		<%= image_tag '/images/prof.jpg' %>
		</div>
		<div class="span-10 fleft">
			<h2><%= @user.name %> <span>Status</span></h2>
			<p>Web Designer</p>
			<p>+6 016 331 4187</p>
			<p>gaddafi@youthasia.com</p>
		</div>
	</div>

	<%= render "posts/form" %>

	<div id="proflebottom">
		<div class="stat">
			<ul>
 				<li class="current"><a href="#">Daily</a></li>
 				<li><a href="#">Weekly</a></li>
 				<li><a href="#">Monthly</a></li>
 				<li class="fright">2</li>
			 </ul>
 		</div>

		<div class="taskdone">
			<ul class="daily">
				<% for day in @posts_by_days do %>
					<li>
						<p><%= day[0] %></p>
						<ul class="taskly">
							<% for post in day[1] do %>
								<li>
									<%= current_user && current_user.id == @user.id ? "I" : @user.name %>
									<%= post.content %>
									
									<% if current_user %>
									<span>
										<%= link_to "High Five!", highfive_path(post)%>
									</span>
									<% end %>
								</li>
							<% end %>
						</ul>
					</li>
				<% end %>
			</ul>

		</div>



	</div>
 </div>
