<% content_for :javascript do %>
	<%= javascript_include_tag "votes" %>
<% end %>

<div class="taskdone">
	<ul class="daily">
		<% for day in posts_by_days do %>
			<li>
				<% days_ago = Time.now.utc.to_date - day[0]%>
				<p><%= (days_ago == 0) ? "Today" : "#{pluralize(days_ago, 'day')} ago" %></p>
				<ul class="taskly">
					<% for post in day[1] do %>
						<% author = post.user %>
						<li>
							<%#= current_user && current_user.id == author.id ? "You" : author.name %>
							<%= link_to image_tag(avatar_url(author, 20)), user_path(author), :class => "avatar" %>
							<%= link_to author.name, user_path(author) %>
							<%= post.content[0, 1].downcase + post.content[1..-1] unless post.content.empty? %>


							<% if current_user && current_user != author && post.votes.by_user(current_user).empty? %>
							<span>
								<%= render :partial => "votes/form", :locals => {:post => post} %>
							</span>

							<% end %>
							<div class="hf-box">
								<div class="highfives">
									<span id="highfive-<%= post.id %>"><%= post.votes.count %></span> High Fives
								</div>

								<ul class="highfivers">
									<% for vote in post.votes do %>
										<li> <%= vote.user.name %> </li>
									<% end %>
								</ul>
							</div>
							
						</li>
					<% end %>
				</ul>
			</li>
		<% end %>
	</ul>
</div>
